---
import "../styles/global.css";
import Layout from "../layouts/default.astro";
---

<Layout>
  <section
    class="flex flex-col sm:flex-row pt-20 bg-gradient-to-r from-pink-400 via-[#bdedf0] to-[#e9eaff]"
  >
    <div class="pl-[1.8rem]">
      <div class="flex items-center gap-1">
        <img class="h-4" src="/src/assets/verified.png" alt="" />
        <p class="text-[#E16F7C]">Grow Your Brand. Drive Results.</p>
      </div>
      <h1 class="text-3xl md:text-5xl">Digital Marketing That Works.</h1>
      Increase Leads & Conversions with Data-Driven Strategies that will transform
      your business.
    </div>
    <img
      class="hidden sm:block h-auto w-100"
      src="/src/assets/1080x1080.png"
      alt=""
    />
  </section>
</Layout>
